<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Angular Side Bar</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
      <a [routerLink] = "['/home']">
  			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
  				<span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
  				<mat-icon mat-list-icon>home</mat-icon>
  			</mat-list-item>
      </a>
      <a [routerLink] = "['/submitForm']">
  			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
  				<span class="full-width" *ngIf="isExpanded || isShowing">Form Submit</span>
  				<mat-icon mat-list-icon>dynamic_form</mat-icon>
  			</mat-list-item>
      </a>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		 <router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
<mat-toolbar color="primary" class="footer">
  <div class="footer" #footer>
    <h3>Copyright <span style="font-size: 12pt;color: black">by <a href="mailto:aswin1906@gmail.com" target="_blank" style="color: aliceblue;">Aswin</a></span></h3>
  </div>
</mat-toolbar>
